:host {
--dark-10: #383838;
--dark-20: #363636;
--dark-30: #333333;
--dark-40: #2E2E2E;
--dark-background-light:#2C2C2C;
--dark-60: #272727;
--dark-70: #252525;
--dark-80: #232323;
--dark-90: #1E1E1E;
--dark-background-dark: #121212;

--light-10: #F5F5F5;
--light-20: #E0E0E0;
--light-30: #BDBDBD;
--light-40: #9E9E9E;
--light-50: #757575;
--light-60: #616161;
--light-70: #424242;
--light-80: #212121;
--light-90: #000000;


// Cores de sucesso, erro e aviso
--success-color: #4CAF50;
--error-color: #F44336;
--warning-color: #FF9800;

}
